In [3]:
import time
import pandas as pd
import datetime
import numpy as np
efer_start_date = '2000-07-03'
efer_end_date = '2022-02-10'
fed_rate_query = f'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=EFFR&scale=left&cosd=2000-07-03&coed={efer_end_date}&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Daily&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2022-02-12&revision_date=2022-02-12&nd={efer_start_date}'
fed_rate = pd.read_csv(fed_rate_query)
tickers = ['XLE','XLF','XLU','XLI','GLD','XLK','XLV','XLY','XLP','XLB','IYR','SPY']
interval = '1d'
stock_start_date = int(time.mktime(datetime.datetime(2000, 7, 3).timetuple()))
stock_end_date = int(time.mktime(datetime.datetime(2022, 2, 10).timetuple()))



list_of_df = []
for ticker in tickers:
    query_string = f'https://query1.finance.yahoo.com/v7/finance/download/{ticker}?period1={stock_start_date}&period2={stock_end_date}&interval={interval}&events=history&includeAdjustedClose=true'
    df = pd.read_csv(query_string)
    df.insert (0, "ticker", ticker)

    list_of_df.append(df)

In [4]:
stock_df = pd.concat(list_of_df)
stock_df.reset_index(inplace=True)
#stock_df['Date'] = pd.to_datetime(stock_df['Date'])

In [5]:
import numpy as np

In [6]:
efer_start_date = '2000-07-03'
efer_end_date = '2022-02-10'
fed_rate_query = f'https://fred.stlouisfed.org/graph/fredgraph.csv?bgcolor=%23e1e9f0&chart_type=line&drp=0&fo=open%20sans&graph_bgcolor=%23ffffff&height=450&mode=fred&recession_bars=on&txtcolor=%23444444&ts=12&tts=12&width=1168&nt=0&thu=0&trc=0&show_legend=yes&show_axis_titles=yes&show_tooltip=yes&id=EFFR&scale=left&cosd={efer_start_date}&coed={efer_end_date}&line_color=%234572a7&link_values=false&line_style=solid&mark_type=none&mw=3&lw=2&ost=-99999&oet=99999&mma=0&fml=a&fq=Daily&fam=avg&fgst=lin&fgsnd=2020-02-01&line_index=1&transformation=lin&vintage_date=2022-02-12&revision_date=2022-02-12&nd=2000-07-03'
fed_rate = pd.read_csv(fed_rate_query)
fed_rate.rename(columns={"DATE": "Date"},inplace=True)
fed_rate.replace('.',np.nan, inplace = True)
fed_rate['EFFR'] = pd.to_numeric(fed_rate['EFFR'])
fed_rate['EFFR'].interpolate(inplace =True)

In [7]:
fed_rate

            Date   EFFR
0     2000-07-03  7.030
1     2000-07-04  6.775
2     2000-07-05  6.520
3     2000-07-06  6.510
4     2000-07-07  6.420
...          ...    ...
5634  2022-02-04  0.080
5635  2022-02-07  0.080
5636  2022-02-08  0.080
5637  2022-02-09  0.080
5638  2022-02-10  0.080

[5639 rows x 2 columns]

In [8]:
 df_merged = stock_df.merge(fed_rate,how='left', left_on='Date', right_on='Date')

In [9]:
df_merged.to_csv('stock.csv')

In [10]:
df_merged['EFFR']

0        7.03
1        6.52
2        6.51
3        6.42
4        6.51
         ...
68512    0.08
68513    0.08
68514    0.08
68515    0.08
68516    0.08
Name: EFFR, Length: 68517, dtype: float64

In [11]:
df_merged

,index,ticker,Date,Open,High,Low,Close,Adj Close,Volume,EFFR
0,0,XLE,2000-07-03,30.187500,30.640625,30.187500,30.531250,17.749790,54000,7.03
1,1,XLE,2000-07-05,30.000000,30.109375,29.250000,29.265625,17.014004,1032400,6.52
2,2,XLE,2000-07-06,29.687500,30.125000,29.562500,29.562500,17.186592,217800,6.51
3,3,XLE,2000-07-07,29.812500,29.906250,29.625000,29.703125,17.268345,522000,6.42
4,4,XLE,2000-07-10,29.687500,30.109375,29.687500,29.843750,17.350107,173300,6.51
...,...,...,...,...,...,...,...,...,...,...
68512,5432,SPY,2022-02-03,450.950012,452.970001,445.709991,446.600006,445.216888,118024400,0.08
68513,5433,SPY,2022-02-04,446.350006,452.779999,443.829987,448.700012,447.310394,118454400,0.08
68514,5434,SPY,2022-02-07,449.510010,450.989990,445.850006,447.260010,445.874847,84472900,0.08
68515,5435,SPY,2022-02-08,446.730011,451.920013,445.220001,450.940002,449.543457,81012000,0.08
68516,5436,SPY,2022-02-09,455.220001,457.880005,455.010010,457.540009,456.123016,92589900,0.08